:root {
    --background-color: #f6f8fd;
    --header-background-color: #fd8978;
    --gray: #e2e2e2;
}

body {
    background-color: var(--background-color);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: cursive;
    overflow-x: hidden;
    /* font-family: 'danfo', sans-serif; */
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    /* padding: 10px; */

}

header .headdiv {
    display: grid;
    grid-template-columns: 300px auto 300px;
}

header .headdiv .headlogo {
    width: 100%;
    padding: 20px;
}

header .headdiv .headlogo img {
    width: 100%;
}


header .navbar li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

header .navbar a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

header .navbar a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;

}

header .navbar a:hover:after {
    width: 100%;
    left: 0;
}

header .options {
    display: flex;
    align-items: center;
    /* Vertically center */
}

header .options div {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--header-background-color);
    width: fit-content;
    display: inline-block;
    color: #f6f8fd;
}

header .options div:first-child {
    margin-right: 10px;
    /* Add specific CSS for the first div */
    background-color: var(--background-color);
    color: black;
}


.main .Heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 50px;
    padding: 20px;
    
}

.dotted-underline {
    border-bottom: 5px dashed green;
    padding-bottom: 2px;
}

.main .description {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
    margin: 0 auto; /* This will center the element horizontally */
  }


  .main .outer-container {
    height: 100px;
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Horizontally center the inner divs */
    align-items: center;     /* Center the inner divs */
    /* height: 100vh;  Optional: to center vertically within the viewport */
}

.main .outer-container .button {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background-color: var(--header-background-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--background-color);
    font-weight: bold;
    margin-bottom: 10px; /* Add some space between the button and the last div */
}

.main .outer-container div:last-child {
    text-align: center; /* Center align text in the last div */
}


.main .outer-container .button:hover {
    /* display: inline-block;
    width: fit-content;
    height: fit-content; */
    cursor: pointer;
    background-color: var(--header-background-color);
    padding: 12px 22px;
    border-radius: 5px;
    color: var(--background-color);
    font-weight: bold;
}


.main .showcaseDiv .show_first{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
    background-image: url(./shape1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .showcaseDiv .show_first .img{
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main .showcaseDiv .show_second{
    padding: 20px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 50% auto;
    background-image: url(./shape5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .showcaseDiv .show_second .img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .showcaseDiv .show_second .img img{
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.main .showcaseDiv .show_second .text .Heading span{
    color: #fd8978;
    padding: 67px;
    background-image: url(/static/round2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main .showcaseDiv .show_second .text .description1{
    width: 100%;
}

.main .showcaseDiv .show_third{
    margin-top: 10vh;
}

.main .showcaseDiv .show_third .Steps {
    padding: 20px 5%;
    margin: 2vh auto 0vh auto;
    width: 70%;
    background-color: var(--gray);
    border-radius: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Ensure proper positioning for pseudo-element */
    text-align: center;
}

.main .showcaseDiv .show_third .Steps > * {
    flex-grow: 1; /* Make all child elements equally expand */
    flex-basis: 0; /* Ensure equal width */
    margin: 0 10px; /* Adjust margin as needed */
}


.main .showcaseDiv .show_third .step {
    padding: 10px;
    color: #e2e2e2;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
}


.main .showcaseDiv .show_third .step1 .step{
    background-image: url(/static/plus.png);
}

.main .showcaseDiv .show_third .step2 .step{
    background-image: url(/static/bank.png);
}
.main .showcaseDiv .show_third .step3 .step{
    background-image: url(/static/salary.png);
}
.main .showcaseDiv .show_third .step4 .step{
    background-image: url(/static/poor.png);
}
.main .showcaseDiv .show_third .step5 .step{
    background-image: url(/static/project-management.png);
}

.main .showcaseDiv .show_third .Step{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.main .stepHEad{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 30px;
    padding: 20px;
    
}


.main .showcaseDiv .show_fourth{
    margin-top: 10vh;
}

.main .showcaseDiv .show_fourth .Heading .step{
    /* margin-top: 10vh; */
    width: fit-content;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}

.main .showcaseDiv .show_fourth .Heading .step1{
    background-image: url(/static/underline1.png);
}

.main .showcaseDiv .show_fourth .Heading .step2{
    /* background-image: url(/static/underline3.png); */
    /* padding: 0px; */
    background-image: url(/static/red_highlight_02.svg);
    
}

.main .showcaseDiv .show_fourth .Heading .step3{
    background-image: url(/static/underline3.png);
}

.main .showcaseDiv .show_fourth .text{
    height: 35vh;
    width: 100%;
    background-image: url(/static/roundBack1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .showcaseDiv .show_fourth .text img{
    /* height: 10vh; */
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}















