:root {
    --background-color: #f6f8fd;
    --header-background-color: #fd8978;
}

body {
    background-color: var(--background-color);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: cursive;
    overflow-x: hidden;
    /* font-family: 'danfo', sans-serif; */
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    /* padding: 10px; */

}

header .headdiv {
    display: grid;
    grid-template-columns: 300px auto 300px;
}

header .headdiv .headlogo {
    width: 100%;
    padding: 20px;
}

header .headdiv .headlogo img {
    width: 100%;
}


header .navbar li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

header .navbar a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

header .navbar a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;

}

header .navbar a:hover:after {
    width: 100%;
    left: 0;
}

header .options {
    display: flex;
    align-items: center;
    /* Vertically center */
}

header .options div {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--header-background-color);
    width: fit-content;
    display: inline-block;
    color: #f6f8fd;
}

header .options div:first-child {
    margin-right: 10px;
    /* Add specific CSS for the first div */
    background-color: var(--background-color);
    color: black;
}


.main .Heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 50px;
    padding: 20px;
    
}

.dotted-underline {
    border-bottom: 5px dashed green;
    padding-bottom: 2px;
}

.main .description {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align-last: center;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
    margin: 0 auto; /* This will center the element horizontally */
  }


  .main .outer-container {
    font-family: "Roboto Mono", monospace;
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center; /* Horizontally center the inner divs */
    align-items: center;     /* Center the inner divs */
    /* height: 100vh;  Optional: to center vertically within the viewport */
}

.main .outer-container .button {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    background-color: var(--header-background-color);
    padding: 10px 20px;
    border-radius: 5px;
    color: var(--background-color);
    font-weight: bold;
    margin-bottom: 10px; /* Add some space between the button and the last div */
}

.main .outer-container div:last-child {
    text-align: center; /* Center align text in the last div */
}


.main .outer-container .button:hover {
    /* display: inline-block;
    width: fit-content;
    height: fit-content; */
    background-color: var(--header-background-color);
    padding: 12px 22px;
    border-radius: 5px;
    color: var(--background-color);
    font-weight: bold;
}

.main .showcase {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
}
.main .showcase img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
