<!DOCTYPE html>
<html>
{% include 'header.html' %}

<body>

    {% include 'header-layout.html' %}


    <div class="side_main">
        {% include 'sidebar.html' %}

        <div class="main">
            <!-- <div class="container mt-5"> -->
            
            
            <div class="card">
                <div class="card-header">
                    Cashbook
                </div>
                <div class="card-body  table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10%;">Sr.</th>
                                <th style="width: 70%;">Category Name</th>
                                <th style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- </div> -->

        </div>
    </div>


    {% include 'footer.html' %}
</body>

</html>