<!DOCTYPE html>
<html>
{% include 'header.html' %}

<body>

    {% include 'header-layout.html' %}


    <div class="side_main">
        {% include 'sidebar.html' %}

        <div class="main">
            <!-- <div class="container mt-5"> -->
            
            
            <div class="card">
                <div class="card-header">
                    Cashbook
                </div>
                <div class="card-body  table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width: 10%;">Sr.</th>
                                <th style="width: 10%;">Date</th>
                                <th style="width: 20%;">Type</th>
                                <th style="width: 20%">Income Ammount</th>
                                <th style="width: 20%">Expense Ammount</th>
                                <th style="width: 20%">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set total_income = [] %}
                            {% set total_expense = [] %}
                            {% set payment_amounts = [] %}
                            {% set tota=[tot] %}
                            {% for payment in incomes %}
                                {% set payment_amount = payment.Payment.amount | int %}
                                {% set _ = payment_amounts.append(payment_amount) %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ payment.Payment.date }}</td>
                                    <td>{{ payment.Payment.transaction_type|capitalize }}</td>
                                    <td>
                                        {% if payment.Payment.transaction_type == "income" %}
                                            {{ payment_amount }}
                                            {% set _ = total_income.append(payment_amount) %}
                                            
                                        {% else %}
                                            0
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if payment.Payment.transaction_type == "expense" %}
                                            {{ payment_amount }}
                                            {% set _ = total_expense.append(payment_amount) %}
                                            
                                        {% else %}
                                            0
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ tota | sum }}
                                    </td>
                                    {% if payment.Payment.transaction_type == "income" %}
                                        
                                        {% set _ = total_income.append(payment_amount) %}
                                        {% set _ = tota.append(0-payment_amount) %}
                                    {% else %}
                                        {% set _ = tota.append(payment_amount) %}
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        
                        <tfoot>
                            <tr>
                                <td colspan="2"></td>
                                <th>Total</th>
                                <th>{{ total_income | sum }}</th>
                                <th>{{ total_expense | sum }}</th>
                                <td>{{ tota | sum }}</td>
                                
                            </tr>
                        </tfoot>
                        
                    </table>
                </div>
            </div>
            <!-- </div> -->

        </div>
    </div>


    {% include 'footer.html' %}
</body>

</html>