<nav class="navbar navbar-expand-lg bg-body">
    <div class="container-fluid">
        <a class="navbar-brand username_div" href="#">
            <span class="material-symbols-outlined">
                account_circle
            </span>
            <span>{{session['username']}}</span>
        </a>

        <div class="mobilemenu" onclick="showSidebar()" style="cursor: pointer;">
            <span class="material-symbols-outlined">
                menu
                </span>
        </div>
        
        <div>
            <div class="d-flex" role="search">
                <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
                <!-- <button class="btn btn-danger" type="submit">Logout</button> -->
                <!-- Example single danger button -->
                <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</nav>