<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link href="https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="../static/new_style.css">
</head>

<body>
    <header>
        <div class="headdiv">
            <div class="headlogo">
                <!-- <img src="{{ url_for('static', filename='logo.png') }}" alt="Budget"> -->
                <img src="../static/logo.png" alt="Budget">
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="options">
                <div>
                    <!-- <a href="{{ url_for('login') }}">Sign in</a> -->
                    <a href="">Sign in</a>
                </div>
                <div>
                    <!-- <a href="{{ url_for('signup') }}">Sign up</a> -->
                    <a href="">Sign up</a>
                </div>
            </div>
        </div>
    </header>

    <div class="main">
        <div class="Heading">
            Streamline Your <span class="dotted-underline" style="color: green;margin-left: 10px;">Spendings</span>.
        </div>
        <div class="description">
            <p>
                <span style="font-weight: bold;">Budget</span> is designed to help you take control of your finances.
                    Whether you want to track your spending, manage your savings, or set financial goals, our system
                    provides all the tools you need in one place.
            </p>
        </div>
        <div class="outer-container">
            <div class="button">
                <!-- Your button content here -->
                Start Now -It's free
            </div>
            <div>
                Free, forever, with unlimited users. <span style="color: green;" data-toggle="tooltip" title="Open-source and free for everyone. Join us now!">See why</span>
            </div>
            
        </div>

        <div class="showcaseDiv">
            <div class="showcase show_first">
                <div class="img">
                    <img src="../static/ss1.png" width="100%" alt="">
                </div>
            </div>


            <div class="showcase show_second">
                <div class="img">
                    <img src="../static/ss2.gif" width="100%" alt="">
                </div>
                <div class="text">
                    <div class="Heading" style="padding: 0px;color: green">
                        Finances at Your<span>Fingertips</span>
                    </div>
                    <div class="description description1">
                        <p>
                            <span style="font-weight: bold;color: green;">Experience</span> the freedom to manage your expenses anytime, anywhere! Our beautifully responsive website lets you track spending, set budgets, and achieve your financial goals seamlessly from your mobile device. Enjoy effortless financial management on the go.
                        </p>
                    </div>
                </div>
            </div>

            <div class="showcase show_third">
                <div class="Heading">
                    Easy Steps to Get Started
                </div>
                <div class="Steps">
                    
                    <div class="step1 Step">
                        <div class="step">
                        
                        </div>
                        <div class="stepHEad">
                            Create Account
                        </div>
                        
                    </div>
                    <div class="step2 Step">
                        <div class="step">
                        
                        </div>
                        <div class="stepHEad">
                            Create Bank Account 
                        </div>
                        
                    </div>
                    <div class="step3 Step">
                        <div class="step">
                        
                        </div>
                        <div class="stepHEad">
                            Add Income
                        </div>
                    </div>
                    <div class="step4 Step">
                        <div class="step">
                        
                        </div>
                        <div class="stepHEad">
                            Add Expense
                        </div>
                    </div>
                    <div class="step5 Step">
                        <div class="step">
                        
                        </div>
                        <div class="stepHEad">
                            Monitor Your Spendings
                        </div>
                    </div>
                </div>
            </div>

            <br><br><br><br><br><br><br><br><br><br>
            
        </div>
        
        

    </div>
    
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

</body>

</html>