<!DOCTYPE html>
<html>
{% include 'header.html' %}

<body>

    {% include 'header-layout.html' %}


    <div class="side_main">
        {% include 'sidebar.html' %}

        <div class="main">
            <!-- <div class="container mt-5"> -->
            
            <div class="card">
                <div class="card-header">
                    Categories
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 5%;">Sr.</th>
                                <th style="width: 15%;">Payment Date</th>
                                <th style="width: 15%">Account Type</th>
                                <th style="width: 10%">Category</th>
                                <th style="width: 15%">Amount</th>
                                <th style="width: 20%">To</th>
                                <th style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tbody>
                                {% for payment in payments %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ payment.Payment.date }}</td>
                                    <td>{{ payment.acc_name }}</td>
                                    <td>{{ payment.category_name }}</td>
                                    <td>{{ payment.Payment.amount }}</td>
                                    <td>{{ payment.Payment.to }}</td>
                                    <td>
                                        <a href="{{ url_for('delete_payment', payment_id=payment.Payment.id) }}"
                                            class="btn btn-danger">Delete</a>
                                        <a href="{{ url_for('delete_payment', payment_id=payment.Payment.id) }}"
                                            class="btn btn-primary">Edit</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </tbody>
                        
                    </table>
                </div>
            </div>
            <!-- </div> -->

        </div>
    </div>


    {% include 'footer.html' %}
</body>

</html>