<div class="sidebar" id="sidebar">
    <div class="sidebardiv">
        <div class="navigations">
            {% for item in sidebar %}
            <a href="{{ url_for(item.link) }}" class="navigation">
                {% if item.indicator == item.page %}
                <div class="indicator">

                </div>
                {% else %}
                <div class="">

                </div>
                {% endif %}
                
                <div class="inditext">
                    <span class="material-symbols-outlined">
                        {{ item.icon }}
                    </span>
                    &nbsp;&nbsp;
                    {{ item.name }}
                    {{ item.current }}
                </div>
            </a>
            
            {% endfor %}




        </div>
    </div>
</div>
<div></div>
