<!DOCTYPE html>
<html>
{% include 'header.html' %}

<body>

    {% include 'header-layout.html' %}


    <div class="side_main">
        {% include 'sidebar.html' %}

        <div class="main">
            <!-- <div class="container mt-5"> -->
            <div class="card">
                <div class="card-header">
                    Transfer To Other Account
                </div>
                <div class="card-body">
                    



                    <form action="" class="col-md-12 row" method="post" enctype="multipart/form-data">
                        <div class="col-md-12 row">
                            <div class="col-md-3 form-group">
                                <label for="category_name">Date</label>
                                <input type="date" class="form-control" id="category_name" name="category_name"
                                placeholder="Enter Here">
                            </div>

                            <div class="col-md-3 form-group">
                                <label for="amount">Amount</label>
                                <input type="date" class="form-control" id="amount" name="amount"
                                placeholder="Enter Here">
                            </div>

                            <div class="col-md-6 form-group mt-5">
                                
                            </div>
                            <br>

                            <div class="col-md-3 form-group">
                                <label for="from_account">Transfer From</label>
                                <select name="from_account" id="account1" class="form-control slim-select">
                                    <option value="">Select Account</option>
                                    {% for account in accounts %}
                                        <option value="{{account.id}}">{{account.acc_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-3 form-group">
                                <label for="to_account">Transfer To</label>
                                <select name="to_account" id="account2" class="form-control slim-select">
                                    <option value="">Select Account</option>
                                    {% for account in accounts %}
                                        <option value="{{account.id}}">{{account.acc_name}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            
                            
                            <div class="col-md-12 mt-3 form-group">
                                <input type="submit" name="submit" value="Transfer" class="btn btn-primary">
                            </div>
            
            
                        </div>
                    </form>




                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    Categories
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 10%;">Sr.</th>
                                <th style="width: 70%;">Category Name</th>
                                <th style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- </div> -->

        </div>
    </div>


    {% include 'footer.html' %}
</body>

</html>